div.background {
}

div.transbox {
  font-size: 20px;
  max-width: 500px;
  margin: 30px auto 30px auto;
  padding: 40px;
  background-color: #ffe3e8;
  /* opacity: 0.9; */
  /* filter: alpha(opacity=90); /1* For IE8 and earlier *1/ */
   border-radius: 25px;
}

div.transbox p {
  margin: 0px 0px 10px 0px;
  color: #333;
}

.p {
  margin-bottom: -100px;
}

.logo {
  margin-top: -20px;
  margin-left: -5px;
  width: 60%;
  height: auto;
}

.transbox {
  margin: 0px 0px 8px 0px;
}
